



.fenlei{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fenlei-one{
    height: 150px;
    width: 15%;
    background-image: url(../../image/fenlei2-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.fenlei-two{
    height: 150px;
    width: 15%;
    background-image: url(../../image/fenlei2-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.fenlei-three{
    height: 150px;
    width: 15%;
    background-image: url(../../image/fenlei2-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.fenlei-four{
    height: 150px;
    width: 15%;
    background-image: url(../../image/fenlei2-04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.fenlei-five{
    height: 150px;
    width: 15%;
    background-image: url(../../image/fenlei2-05.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
