
*{
    margin: 0px;
    padding: 0px;
}


.find-picture{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-picture-01{
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 96%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2%;
}